.footer {
  width: 100vw;
  padding: 5vh 0;
  color: rgb(123, 225, 243);
  background-color: #969292;
  text-align: center;
}

.footer-logo {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}